@use "../abstracts/variables" as v;
@use "../abstracts/mixins"    as m;

#app {
  min-height: 100vh;
  display: flex;
  background-color: v.$p5;

  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
