@use 'functions' as f;

// clamp for any property
@mixin c($property, $min, $max){
  #{$property}: clamp(#{f.pxToRem($min)}rem, #{f.preferred($max)}vw, #{f.pxToRem($max)}rem);
}
// clamp for width
@mixin cw($min, $max){
  width: clamp(#{f.pxToRem($min)}rem, #{f.preferred($max)}vw, #{f.pxToRem($max)}rem);
}
// clamp for height
@mixin ch($min, $max){
  height: clamp(#{f.pxToRem($min)}rem, #{f.preferred($max)}vw, #{f.pxToRem($max)}rem);
}
// clamp for font-size
@mixin cf($min, $max){
  font-size: clamp(#{f.pxToRem($min)}rem, #{f.preferred($max)}vw, #{f.pxToRem($max)}rem);
}

// clamp for padding
@mixin cp($side, $min, $max){
  padding-#{$side}: clamp(#{f.pxToRem($min)}rem, #{f.preferred($max)}vw, #{f.pxToRem($max)}rem);
}
// clamp for all sides with same value
@mixin cpa($min, $max){
  padding: clamp(#{f.pxToRem($min)}rem, #{f.preferred($max)}vw, #{f.pxToRem($max)}rem);
}
// clamp for shorthand padding, 2 values
@mixin cp2($topBottom, $topBottomMax, $leftRight, $leftRightMax){
  padding: clamp(#{f.pxToRem($topBottom)}rem, #{f.preferred($topBottomMax)}vw, #{f.pxToRem($topBottomMax)}rem) clamp(#{f.pxToRem($leftRight)}rem, #{f.preferred($leftRightMax)}vw, #{f.pxToRem($leftRightMax)}rem);
}
// clamp for shorthand padding, 3 values
@mixin cp3($top, $topMax, $leftRight, $leftRightMax, $bot, $botMax){
  padding: clamp(#{f.pxToRem($top)}rem, #{f.preferred($topMax)}vw, #{f.pxToRem($topMax)}rem) clamp(#{f.pxToRem($leftRight)}rem, #{f.preferred($leftRightMax)}vw, #{f.pxToRem($leftRightMax)}rem) clamp(#{f.pxToRem($bot)}rem, #{f.preferred($botMax)}vw, #{f.pxToRem($botMax)}rem);
}
// clamp for shorthand padding, 4 values
@mixin cp4($top, $topMax, $right, $rightMax, $bot, $botMax, $left, $leftMax){
  padding: clamp(#{f.pxToRem($top)}rem, #{f.preferred($topMax)}vw, #{f.pxToRem($topMax)}rem) clamp(#{f.pxToRem($right)}rem, #{f.preferred($rightMax)}vw, #{f.pxToRem($rightMax)}rem) clamp(#{f.pxToRem($bot)}rem, #{f.preferred($botMax)}vw, #{f.pxToRem($botMax)}rem) clamp(#{f.pxToRem($left)}rem, #{f.preferred($leftMax)}vw, #{f.pxToRem($leftMax)}rem);
}

// clamp for margin
@mixin cm($side, $min, $max){
  margin-#{$side}: clamp(#{f.pxToRem($min)}rem, #{f.preferred($max)}vw, #{f.pxToRem($max)}rem);
}
// clamp for all sides with same value
@mixin cma($min, $max){
  padding: clamp(#{f.pxToRem($min)}rem, #{f.preferred($max)}vw, #{f.pxToRem($max)}rem);
}
// clamp for shorthand margin, 2 values
@mixin cm2($topBottom, $topBottomMax, $leftRight, $leftRightMax){
  margin: clamp(#{f.pxToRem($topBottom)}rem, #{f.preferred($topBottomMax)}vw, #{f.pxToRem($topBottomMax)}rem) clamp(#{f.pxToRem($leftRight)}rem, #{f.preferred($leftRightMax)}vw, #{f.pxToRem($leftRightMax)}rem);
}
// clamp for shorthand margin, 3 values
@mixin cm3($top, $topMax, $leftRight, $leftRightMax, $bot, $botMax){
  margin: clamp(#{f.pxToRem($top)}rem, #{f.preferred($topMax)}vw, #{f.pxToRem($topMax)}rem) clamp(#{f.pxToRem($leftRight)}rem, #{f.preferred($leftRightMax)}vw, #{f.pxToRem($leftRightMax)}rem) clamp(#{f.pxToRem($bot)}rem, #{f.preferred($botMax)}vw, #{f.pxToRem($botMax)}rem);
}
// clamp for shorthand margin, 4 values
@mixin cm4($top, $topMax, $right, $rightMax, $bot, $botMax, $left, $leftMax){
  margin: clamp(#{f.pxToRem($top)}rem, #{f.preferred($topMax)}vw, #{f.pxToRem($topMax)}rem) clamp(#{f.pxToRem($right)}rem, #{f.preferred($rightMax)}vw, #{f.pxToRem($rightMax)}rem) clamp(#{f.pxToRem($bot)}rem, #{f.preferred($botMax)}vw, #{f.pxToRem($botMax)}rem) clamp(#{f.pxToRem($left)}rem, #{f.preferred($leftMax)}vw, #{f.pxToRem($leftMax)}rem);
}


// Media queries
@mixin for-size($size) { // sourced from https://itnext.io/writing-media-queries-with-sass-mixins-3ea591ea3ea4
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 768px) { @content; } // original 600px
  } @else if $size == tablet{
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1366px) { @content; } // original 1200px
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}
