:root{
  --page-name-underline-width: 0px;
  --note-pages-height: 0px;
  --todo-pages-height: 0px;
}

$p1: #1e408a;
$p2: #234a9f;
$p3: #2754b4;
$p4: #2c5dc9;
$p5: #3668d3;
$p6: #4f7bd9;
$p7: #648add;
$p8: #a3baeb;
$p9: #b8c9f0;

$s1: #333333;
$s2: #616161;
$s3: #8f8f8f;
$s4: #bdbdbd;
$s5: #ebebeb;
$s6: #f0f0f0;
$s7: #f5f5f5;
$s8: #fafafa;
$s9: #ffffff;

$a1: #050506;
$a2: #0e0e11;
$a3: #17181c;
$a4: #202227;
$a5: #2a2d34;
$a6: #4d5360;
$a7: #717a8d;
$a8: #9fa5b2;
$a9: #e8eaed;

$bezier: cubic-bezier(0, 0.1, 0.5, 1.5);
