@use "../abstracts/variables.scss" as v;

.page-button{
  display: flex;
  align-items: center;

  &__emoticon{
    font-size: 1.8rem;
    margin-right: 1.6rem;
  }
  &__name{
    position: relative;
    font-family: "Source Sans Pro";
    font-size: 1.4rem;
    line-height: 2.3rem;
    letter-spacing: -0.02em;
    color: v.$s5;

    &::after{
      position: absolute;
      bottom: -2px;
      left: 0;
      content: '';
      width: 0px;
      height: 2px;
      background-color: v.$s5;
      border-radius: 2px;
      transition: width 400ms cubic-bezier(0, 0.5, 0.5, 1.2);
    }

    &--focused::after{
      width: var(--page-name-underline-width);
    }
  }
}
